body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    height: auto;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header img {
    height: 55px;
    margin-right: 10px; 
}

header .logo-text {
    font-size: 15px;
    font-weight: normal;
    color: #af80ff;
}

header nav {
    font: size 10px;;
    flex-grow: 1; 
    display: flex;
    justify-content: start; 
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

header .cta {
    display: flex;
}

header .cta button {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}


header .cta button.registrarse {
    background-color: #af80ff;
    color: white;
}

header .cta button.registrarse:hover {
    background-color: #c299ff;
}

header .cta button.iniciar-sesion {
    background-color: black;
    color: white;
    border: #af80ff 2px solid;
}

header .cta button.iniciar-sesion:hover {
    background-color: #e0e0e0;
}

main {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: normal;
}

h2 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: normal;
}



button.main-btn {
    background-color: #af80ff;
    color: white;
    border: none;
    padding: 20px 45px;
    margin: 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button.main-btn:hover {
    background-color: #c299ff;
}
h4 {
    font-size: 15px;
    margin-top: 0px;
    font-weight: normal;
}

.rectanglepene {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.rectangle{
    width: 100%;
    position: absolute;
    top: 1;
    left: 0;
}

.rectangle2{
    width: 100%;
}